@font-face {
  font-family:"Poppins-Bold";
  src:url("../fonts/Poppins-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family:"Poppins-BoldItalic";
    src:url("../fonts/Poppins-BoldItalic.ttf") format("truetype");
    }
  @font-face {
    font-family:"Poppins-Regular";
    src:url("../fonts/Poppins-Regular.ttf") format("truetype");
  }
body{
  margin: 0;
  font-family:"Poppins-Regular";
  }
  
  img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}
a{
    text-decoration: none;
}
section{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-0%);
  height: 655px;
  width: 100%;
  background: rgba(255, 215, 35, 0.9);
  /* box-shadow: 0px 25px 30px rgba(0,0,0,.5); */
  display: flex;
  overflow: hidden;
}
.content{
  width: calc(40% - 40px);
    height: 100%;
    /* background: rgba(255, 215, 35, 0.9); */
    /* box-sizing: border-box; */
    padding: 30px 50px;
    padding-bottom: 0px;
    padding-top: 250px;
    text-align: center;
    /* color: #fff; */
    /* font-family: sans-serif; */
    /* line-height: 25px;*/
  
}
.image-box{
  width: calc(60% + 60px);
  height: 100%;
  background: rgba(255, 215, 35, 0.9);
  box-sizing: border-box;
  border-left: 0px solid #000;
  /* border-bottom: 800px solid transparent; */
  background: url(../images/header-back.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 230px;
  padding-left: 115px;
}

.logo{
  width: 227px;
  height: 83px;
}
.dot{
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-top: 55px;
  margin-left: 10px;
}
.image-box .heading{
  background: linear-gradient( -75deg, transparent 24%, rgba(255, 215, 35, 0.8) 25%, rgba(255, 215, 35, 0.8) 89%, transparent 90%);
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-decoration: none;
  display: inline-block;
  width: 395px;
  padding-left: 35px;
}

.image-box h1{
  font-family:"Poppins-BoldItalic";
  font-size: 90px;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: 0.56;
  letter-spacing: normal;
  /* text-align: center; */
  color: #000000;
}
.image-box .description{
  background: linear-gradient( -75deg, transparent 24%, rgba(255, 215, 35, 0.8) 25%, rgba(255, 215, 35, 0.8) 89%, transparent 90%);
  width: 395px;
  text-decoration: none;
  display: inline-block;
  width: 395px;
  padding-left: 35px;
  margin-top: 10px;
  margin-left: -27px;
}
.image-box p{
  padding: 15px;
  font-family:"Poppins-Regular";
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 0px;
}
.image-box p span{
  font-family: "Poppins-Bold";
}

.main-content{
  padding-top: 130px;
}
.title{
  font-family:"Poppins-Bold";
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.28;
  letter-spacing: normal;
  color: #4d533c;
  margin-bottom: 25px;
}
.title span{
  background-color: #ffd723;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 1px;
    /* line-height: 0.5 !important; */
    /* margin-top: 2px; */
    display: inline-block;
}
.main-content p{
  font-family:"Poppins-Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: rgba(33, 56, 66, 0.6);
}
.main-content .link{
  font-family:"Poppins-Bold";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d4d6d4;
  display: block;
  margin-top: 15px;
  text-decoration: underline;
}
.main-content.main-content2 .container-fluid{
padding-left: 0px;
padding-right: 0px;
}
.main-content.main-content2 .row {
  margin-right: 0px;
  margin-left: 0px;
}
.main-content.main-content2 .col-xl-5,.main-content.main-content2 .col-xl-6, .main-content.main-content2 .col-xl-11{
  padding-left: 0px;
  padding-right: 0px;
}
.main-content.main-content2 .title{
  padding-top: 120px;
}
.main-content.main-content2 .title.title2{
  padding-top: 90px;
}
.main-content.main-content2 .title span{
  background-color: #ffd723;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 1px;
    /* line-height: 0.5 !important; */
    /* margin-top: 2px; */
    display: inline-block;
}
.main-content .amazing{
  box-shadow: 50px 130px 100px 0 rgba(0, 0, 0, 0.15);
  background-color: #fafafa;
  padding-top: 40px;
  padding-bottom: 50px;
  position: relative;
  border-top: 7px solid #ffd723;
  z-index: 9999;
}
.main-content .amazing h1{
  font-family:"Poppins-Bold";
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #4d533c;
}

.footer{
  margin-top: -120px;
  background-color: #50583b;
  padding-top: 150px;
}
.footer .footer-top{
  padding-bottom: 70px;
}
.footer .menu {
  margin-top: 30px;
}
.footer .menu h3{
  font-family: "Poppins-Regular";
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #b6c197;
}
.footer .menu a{
  font-family:"Poppins-Regular";
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #ffffff;
}
.footer .footer-bottom{
  display: flex;  
  position: relative;
  padding-bottom: 20px;
  }
.footer .footer-logo{
  width: 85px;
  height: 31px;
  filter: brightness(0) invert(1);
}
.footer .footer-bottom p{
  font-family:"Poppins-Regular";
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #b5c096;
  justify-content: flex-end;
  float: right;
  text-align: right;
  position: absolute;
  right: 0px;
}
/*  Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) { 
  section {
    height: 225px;
}
.content {
  padding: 25px 25px;
  padding-top: 85px;
}

.logo {
  width: 60px;
  height: 30px;
}
.dot {
  width: 10px;
  height: 10px;
  margin-top: -30px;
  margin-left: 75px;
}
.image-box {
  padding-top: 35px;
  padding-left: 50px;
}
.image-box .heading {
  background: linear-gradient( -75deg, transparent 24%, rgba(255, 215, 35, 0.8) 25%, rgba(255, 215, 35, 0.8) 89%, transparent 90%);
  padding: 15px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-decoration: none;
  display: inline-block;
  width: 250px;
  padding-left: 35px;
}
.image-box h1 {
  font-family: "Poppins-BoldItalic";
  font-size: 40px;
}
.image-box p {
  padding: 15px;
  font-family: "Poppins-Regular";
  font-size: 16px;
}
.image-box .description {
  background: linear-gradient( -75deg, transparent 24%, rgba(255, 215, 35, 0.8) 25%, rgba(255, 215, 35, 0.8) 89%, transparent 90%);
  width: 395px;
  text-decoration: none;
  display: inline-block;
  width: 250px;
  padding-left: 15px;
  margin-top: 10px;
  margin-left: -15px;
}
.main-content.main-content2 .title.title2 {
  padding-top: 0px;
}

.main-content {
  padding-top: 40px;
}
.main-content.main-content2 .title {
  padding-top: 40px;
}
.main-content .amazing h1 {
  font-family: "Poppins-Bold";
  font-size: 30px;
}
.title {
  font-size: 26px;
}
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  section {
    height: 470px;
  }
  .content {
    padding-top: 200px;
  }
  .logo {
    width: 110px;
    height: 45px;
}
.dot {
  margin-top: 35px;
}
.image-box {
  padding-top: 140px;
  padding-left: 80px;
}
.main-content.main-content2 .title.title2 {
  padding-top: 0px;
}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  section {
    height: 620px;
}
.logo {
  width: 210px;
  height: 83px;
}
.image-box {
  padding-left: 88px;
}
.main-content.main-content2 .title {
  padding-top: 70px;
}
.main-content.main-content2 .title.title2 {
  padding-top: 10px;
}
.image1{
  height: 100%;
}
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
  
}
@media (min-width: 1400px) {
  
 }
